*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: darkblue;
    color: beige;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
#rock{
    background-image: url("rock.png");
    background-size: cover;
}
#paper{
    background-image: url("paper.png");
    background-size: cover;
}
#scissors{
    background-image: url("scissors.png");
    background-size: cover;
}
.choice{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
    top: 25px;
   
}
.score-board{
    display: flex;
    gap: 200px;
    justify-content: center;
   position: relative;
    top: 155px;
    
}
.choice:hover{
    opacity: .5;
    cursor: pointer;
    
}
.msg-container{
    position: relative;
    top: 250px;
   display: flex;
   justify-content: center;
    
}
#player-score,#comp-score{
    font-size: 5rem;
}
#msg{
    display: inline;
     background-color: darkslateblue;
    color: aliceblue;
    padding: .6rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}
